@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis padrão (tema claro) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tema escuro via classe .dark */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Aplicação global */
body {
  background-color: var(--background);
  color: var(--foreground);
}